 <!-- START: Custom Filter Buttons -->
        <div class="navbar-item filter-controls">
          <span class="filter-label">Filter by:</span>
          <div class="buttons are-small">
            <button class="button filter-button" data-filter="filter-acute-critical-care">Acute/Critical Care</button>
            <button class="button filter-button" data-filter="filter-emergency-services">Emergency Services</button>
            <button class="button filter-button" data-filter="filter-ambulatory">Ambulatory</button>
            <button class="button filter-button" data-filter="filter-home-health">Home Health</button>
            <button class="button filter-button" data-filter="filter-periop">Periop</button>
            <button class="button filter-button" data-filter="filter-lab">Lab</button>
            <button class="button filter-button" data-filter="filter-radiology">Radiology</button>
            <button class="button filter-button" data-filter="filter-mental-health">Mental Health</button>
          </div>
        </div>
        <!-- END: Custom Filter Buttons -->